@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100&family=Space+Grotesk:wght@300&display=swap');
@import "./contactform.styles.css";
@import "./cards.style.css";
@import "./animation.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}
body {
  font-family: 'Space Grotesk', sans-serif;
}

a {
  text-decoration: none;
}
.brandContainer{
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
}
.logo img{
  width: 30em;
}
.logo-text{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.arrow-down {
  width: 70px  ;
  margin-top: 5em;
  margin-bottom: -5em;
}
.tabs{
  color: #fff;  
  height: 100vh;
}
.tabs h1,
.tabs h3 {
  position: inherit;
}

.slide{
  min-height: 40vh;
}
.tabs,
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  text-align: center;
  padding: 5em 2em;
}
.tabs h1,
.slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.tabs h3,
.slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.tabs-container {
  display: none;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  flex-wrap: wrap;
}
.tabs-container--top {
  position: fixed;
  top: 0;
  display: flex;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 10em;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.tab:hover {
  color: white;
  background: black;
  transition: all 0.5s ease;
}

.tab-slider {
  display: inherit;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background:black;
  transition: left 0.3s ease;
}
.contact-tab {
  margin: 10em auto;
}
.about-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10em;
  text-align: inherit;
  gap: 1em;
}
.moreAbout-tab {
  display: flex;
  margin: 0px 10em;
  gap: 16px;
  text-align: left;
}
.moreAbout-tab li{
  font-family: 'Lexend Exa', sans-serif;
  font-size: 1em;
  line-height: 1.7rem;
}
.moreAbout-tab .bolder{ 
  font-weight: bold;
}
.moreAbout-tab li img{
 width: 30px;
}
.moreAbout-tab li a{
  border-bottom: 0.5px #c1c1c1 solid;
 }
.social-Icons-Wrapper {
  z-index: 100000;
  background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
}
.social-bottom{
  top: auto;
  bottom: 0;
}
.social-Icons-Wrapper .icon {
  position: relative;
  background-color: #ffffff;
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon a {
  color: black;  
  transition: all 0.2s ease-in-out;
}
.icon:hover{
  transform: scale(1.5);
}
@media (min-width: 800px) {
  .tabs h1,
.slide h1 {
    font-size: 3rem;
  }
  .tabs h3,
.slide h3 {
    font-size: 1rem;
  }

  .tab {
    font-size: 1rem;
  }
}
@media (max-width: 780px) {
  .about-tab,.moreAbout-tab {
    margin: 0px 5em; 
  }
}
@media (max-width: 511px) {
  .tab-slider {
    display: none;
  }
}
@media (max-width: 510px) {
  .logo img {
    width: 300px 
  }
}
@media (max-width: 600px) {
  .about-tab .title{
    align-self: flex-start;
  }
  .moreAbout-tab .social-skills{ 
    font-size: 16px;
  }
  .about-tab,.moreAbout-tab {
    margin: 0px 0em; 
  }
}
